<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <!-- Link to your global CSS -->
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <main>
    <h1 class="testclass">Test heading</h1>
    {{ content | safe }}
  </main>
</body>
</html>